*,
*::after,
*::before{
    box-sizing: border-box;
}

.rec-title, .ing{
    text-align: center;
}

.recipe{
    color: blue;
    width: 400px;
    border: none;
    background-color: blue;
    color: blue;
    height: 2px;
}

blockquote{
    text-align: center;
    width: 300px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.title{
    margin-top: 70px;
}

.date{
    width: 240px;
    text-align: center;
}

.poem{
    line-height: 0.4;
}

.poem pre{
    line-height: 1.3;
    font-family: normal;
}

.text{
    position: absolute;
    top: 374px;
}

.line{
    margin-top: 90px;
}
